<nav class="nav--wrapper">
	<div class="nav-global--wrapper">
		<div class="content-area">
			<div class="nav-global">
				<div class="nav-brand">
					<a href="{{ global_nav_header_link }}">
						<img class="nav-logo" src="{{ header_logos.UCSF_logowhite_small}}" alt="UCSF Logo White Small">
						<span class="nav-title">University of California San Francisco</span>
					</a>
				</div>
				{% if global_header_links %}
					<ul class="nav-link-list">
					{% for item in global_header_links.links %}
						<li><a href="{{ item.link }}">{{ item.label }}</a></li>
					{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>
	</div>
</nav>
