{% extends directory ~ '/templates/blocks/block.html.twig' %}

{% block content %}
    <div class="content-area">
      <div class="column-wrapper">
          <div class="column-large-12 column-medium-12 column-small-12 column-xsmall-12">
            <div class="filters">
              
            </div>
          </div>
      </div>
    </div>

    {{ content }}
{% endblock %}
