{% extends directory ~ '/templates/page/type/page--type--stories.html.twig' %}


{% set _address = [{ 'address' : address }] %}
{% set _telephone = [{ 'number' : contact_number, 'label' : contact_number }] %}
{% set _email = [{ 'email' : contact_email }] %}

{% block top_section %}
    <div class="content-area">
        <div class="column-wrapper">
            <div class=" column-large-8 column-medium-8 column-small-12 column-xsmall-12">
                {% include "@molecules/02-blocks/03-block-header-landing-no-photo.twig" with {
                    "title" : 'Contact'
                } %}
            </div>
        </div>
    </div>
{% endblock %}

{% block left_section %}
    <div class=" column-large-11 column-medium-11 column-small-12 column-xsmall-12">
        <div class="block--basic-page-content">
            {% include '@molecules/02-blocks/21-contact-us-big.twig' with {
                "contact_list_title": 'UCSF Foundation',
                "address" : _address,
                "telephone" : _telephone,
                "email" : _email
            } %}
            {% if page.content %}
                <p class="body-text-medium-20">You can also leave a message using the contact form below.</p>
                <div class="block--wysiwyg">
                    {{ page.content }}
                </div>
            {% endif %}
        </div>
    </div>
   <div id="message_popup">
        <div class="popup_body">
            <div class="popup_content"></div>
            <button class="btn btn--secondary pull-right">Ok</button>
        </div>
   </div>
{% endblock %}
