<div{{ attributes }}>
    {% block content %}
        <div{{ content_attributes.addClass('content') }}>
            <a href="{{ content.field_back_link[0]['#title'] }}">{{ content.body }}</a>
        </div>
    {% endblock %}
</div>
