{% for item in items %}
    <div class="contact-detail-item">
        <span class="fa fa-map-marker"></span>
        <span itemprop="address">
            {{ item.content }}
        </span>
    </div>
{% endfor %}