{% set color = ['green', 'orange', 'light-blue'] %}

{% for item in items %}
    <div class="column-wrapper">
        {% include "@molecules/02-blocks/02-impact-stories-block.twig" with {
            'color' : color[loop.index0], 
            'title' : item.content['#node'].title.value,
            'copy_text' : item.content['#node'].field_sub_title.value, 
            'link' : path('entity.node.canonical', {'node': item.content['#node'].nid.value}),
            'image_url' :  file_url(item.content['#node'].field_thumbnail.entity.fileuri)
        } %}
    </div>
{% endfor %}